body{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.genericContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black;
    border-radius: 5px;
}

.container{
    background-color: yellow;
    margin: 5px;
    border: 1px black;
    border-radius: 5px;

}

input{
    margin: 7px;
    border: 1px black;
    border-radius: 5px;
}

button{
    border-radius: 5px;
    border: 1px black;
    margin: 7px;
}
